{% extends "sidebar.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="col-md-6 p-3 bg-body rounded">
    <form action="" method="POST">
        <div class="text-center">
            <h1>Add Job Listing:</h1>
        </div>
        {{ form.hidden_tag() }}
        <p>
            {{ form.job_title.label(class="form-label") }} </br>
            {{ form.job_title(class="form-control") }}
        </p>
        <p>
            {{ form.state.label(class="form-label") }} </br>
            {{ form.state(class="form-control") }}
        </p>
        <p>
            {{ form.area.label(class="form-label") }} </br>
            {{ form.area(class="form-control") }}
        </p>
        <p>
            {{ form.suburb.label(class="form-label") }} </br>
            {{ form.suburb(class="form-control") }}
        </p>
        <p>
            {{ form.description.label(class="form-label") }} </br>
            {{ form.description(class="form-control", rows="7") }}
        </p>

        {{ form.highlight_1.label(class="form-label") }} </br>
        {{ form.highlight_1(class="form-control", placeholder="Highlight 1") }}
        </br>
        {{ form.highlight_2(class="form-control", placeholder="Highlight 2") }}
        </br>

        {{ form.highlight_3(class="form-control", placeholder="Highlight 3") }}
        </br>
        <div>
            {{form.submit(class="btn btn-primary")}}
            {{form.draft(class="btn btn-primary", formaction="/drafts")}}
        </div>
    </form>
</div>
{% endif %}
{% endblock %}