{% extends "sidebar.html" %}
{% block title %}Drafts{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="col-md-8 pt-4 bg-body rounded container">
    {% for post in posts %}
    {% if current_user.id == post.poster.id %}
    <div class="card p-4">
        <div class="job-header placeholder-glow">
            <h3> {{ post.job_title }} </h3>
        </div>
        <div class="job-body placeholder-glow">
            <div class="poster-company pb-2">
                <strong>{{ post.poster.company }}</strong>
            </div>
            <div class="highlights placeholder-glow">
                <ul>
                    <li>{{ post.highlight_1 }}</li>
                    <li>{{ post.highlight_2 }}</li>
                    <li>{{ post.highlight_3 }}</li>
                </ul>
            </div>
            <div class="job-location placeholder-glow ">
                <small><p class="fw-bold">{{ post.suburb }} > {{ post.area }} > {{ post.state }}</p></small>
            </div>
            <div class="placeholder-glow" style="white-space: pre-wrap"><p>{{ post.description }}</p></div>
        </div>
        <div class="footer">
            <a href="{{ url_for('posts_bp.edit_draft', id=post.id) }}">
                <button type="button" class="btn btn-primary">Edit</button>
            </a>
            <a href="{{ url_for('posts_bp.draft_to_post', id=post.id) }}">
                <button type="button" class="btn btn-success">Post</button>
            </a>
            <a href="{{ url_for('posts_bp.obliterate_draft_post', id=post.id) }}">
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
        </div>
    </div>
    <br/>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<h2>Must be logged in...</h2>
<p>Sorry, you must be logged in to edit this post.</p>
<a href="{{url_for('auth_bp.login')}}">Login here</a>
{% endif %}
{% endblock %}
