{% extends 'test.html' %}
{% block title %}Michael's blog{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<a class="btn btn-primary" href="#" role="button">WA</a>
<a class="btn btn-primary" href="#" role="button">NSW</a>
<a class="btn btn-primary" href="#" role="button">VIC</a>
<div class="container">
    <div class="card-deck-header text-center">
        <h1>Active listings</h1>
        </br>
        <div class="card-deck">
            {% for post in posts %}
            {% if post.deleted == "0" %}
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        {{ post.state }} - {{ post.area }} - {{ post.suburb }}
                    </div>
                    <div class="card-body">
                        <p class="card-title">{{ post.poster.company }}</p>
                        <strong class="card-text">{{ post.job_title }}</strong>
                        <p class="card-text">{{ post.highlights }}</p>
                        <strong class="card-text">Location: {{ post.area }}, {{ post.state }}</strong>
                    </div>
                    <div class="card-footer text-muted container">
                        <div class="row">
                            <div class="col">
                                {{ post.date_posted.strftime('%d-%b-%Y') }}
                            </div>
                            {% if current_user.id == post.poster.id %}
                            <div class="col">
                                <a href="{{url_for('posts_bp.edit_post', id=post.id)}}">Edit Post</a>
                                <a href="{{ url_for('posts_bp.delete_post', id=post.id) }}">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                </br>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="card-deck-header text-center">
        <h1>Deleted listings</h1>
        </br>
        <div class="card-deck">
            {% for post in posts %}
            {% if post.deleted == "1" %}
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        {{ post.state }} - {{ post.area }} - {{ post.suburb }}
                    </div>
                    <div class="card-body">
                        <p class="card-title">{{ post.poster.company }}</p>
                        <strong class="card-text">{{ post.job_title }}</strong>
                        <p class="card-text">{{ post.highlights }}</p>
                        <strong class="card-text">Location: {{ post.area }}, {{ post.state }}</strong>
                    </div>
                    <div class="card-footer text-muted container">
                        <div class="row">
                            <div class="col">
                                {{ post.date_posted.strftime('%d-%b-%Y') }}
                            </div>
                            {% if current_user.id == post.poster.id %}
                            <div class="col">
                                <a href="{{url_for('posts_bp.edit_post', id=post.id)}}">Edit Post</a>
                                <a href="{{ url_for('posts_bp.delete_post', id=post.id) }}">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                </br>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}