{% extends "sidebar.html" %}
{% block title %}Active{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<div class="card-deck">
    <div class="card-deck-header text-center">
        <h1>Active listings</h1>
        </br>

        {% for post in posts %}
        {% if current_user.id == post.poster.id %}
        {% if post.deleted == "0" %}

        <div class="col-md-6">

            <div class="card cards text-start" style="width:28rem;">
                <div class="card-header">
                    {{ post.state }} - {{ post.area }} - {{ post.suburb }}
                </div>
                <a href="{{ url_for('posts_bp.display_post', id=post.id) }}">
                    <div class="card-body">
                        <p class="card-title">{{ post.poster.company }}</p>
                        <strong class="card-text">{{ post.job_title }}</strong>
                        <ul>
                            <li class="card-text">
                                {{ post.highlight_1 }}
                            </li>
                            <li class="card-text">
                                {{ post.highlight_2 }}
                            </li>
                            <li class="card-text">
                                {{ post.highlight_3 }}
                            </li>
                        </ul>
                        <strong class="card-text">Location: {{ post.area }}, {{ post.state }}</strong>
                    </div>
                </a>
                <div class="card-footer text-muted container">
                    <div class="row">
                        <div class="col">
                            {{ post.date_posted.strftime('%d-%b-%Y') }}
                        </div>
                        {% if current_user.id == post.poster.id %}
                        <div class="col foot-butt">
                            <a href="{{url_for('posts_bp.edit_post', id=post.id)}}">Edit Post</a>
                            <a href="{{ url_for('posts_bp.delete_post', id=post.id) }}">Delete</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <br/>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

</div>
{% endblock %}